body {
  background: white;
  margin: 0;
}

.container {
  width: 85%;
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  background: #b5bce2;
  color: white;
  padding: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  ;
}

.header a {
  color: white;
  text-decoration: none;
  /*Saca Subrayado de las a*/
}

.menu-icon {
  display: none;
}

.logo {
  letter-spacing: 10px;
  font-size: 1.3em;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
  /*Para que se pongan abajo del Logo*/
}

.navigation ul li a:hover {
  background-color: #252b46;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none
    /*Sin viñeta*/
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  /*al pasar con el mouse tarda un ratito*/
  border-radius: 5px;
}



.main {
  padding-top: 10rem;
}


.top-social {
  margin-top: 0em;
}

.top-social a {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.top-social .facebook {
  background: url("../images/facebook.svg") no-repeat center;
}

.top-social .instagram {
  background: url("../images/instagram.svg") no-repeat center;
}

.top-social .whatsapp {
  background: url("../images/whatsapp.svg") no-repeat center;
}

@media only screen and (max-width:767px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    /*Pone puntero en el mouse como para hacer click*/
  }

  .navigation {
    width: 100%;
    margin-top: 1rem;
  }

  .navigation ul {
    display: none
  }

  .navigation ul.show {
    display: block
  }

  .navigation ul li {
    display: block;
  }

  .navigation ul li a {
    display: block;
    padding: 0.5rem 0rem;
    transition: all 0.4s linear;
    /*al pasar con el mouse tarda un ratito*/
    border-radius: 5px;
  }

  .navigation ul li a:hover {
    background-color: #252b46;
  }
}

/*MARIVI BAHIA*/
.hero {
  text-align: center;
  padding: 4em 0;
}

.hero-image {
  max-width: 100%;
}

.hero-buttons {
  padding-top: 1em;
}

@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    padding: 1em 0;
  }

  .hero-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 500px 1fr;
    grid-template-areas: "content image";
  }

  .hero-imageContainer {
    grid-area: image;
    /*position: relative;*/
    top: 50px;
    text-align: center;
  }

  .hero-content {
    grid-area: content;
  }
}

.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
}

.features {
  text-align: center;
  padding: 3em 0;
}

.features .u-wrapper>.u-p {
  max-width: 580px;
  margin: 0 auto;
}

.carousel {
  text-align: left;
  max-width: 580px;
  margin: 2em auto;
}

.carousel-content[open] .carousel-header {
  border: none;
}

.carousel-content[open] .carousel-header::-webkit-details-marker {
  color: var(--softRed);
}

.carousel-header {
  padding: 1.5em 0;
  border-bottom: 1px solid var(--lightGRay);
  font-size: 0.9em;
}

.carousel-header:focus {
  outline: 0;
}

.carousel-header::-webkit-details-marker {
  color: var(--softBlue);
  float: right;
}

@media screen and (min-width: 1024px) {
  .carousel {
    border-top: 1px solid var(--lightGRay);
  }
}

.questions {
  padding: 4em 0 8em;
  text-align: center;
}

.questions .u-wrapper>.u-p {
  max-width: 580px;
  margin: auto;
}

.join {
  background: #b5bce2;
  color: veryDarkBlue;
  padding: 3em 0;
  text-align: center;
}

.join small {
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media screen and (min-width: 1024px) {
  .join .u-h4 {
    font-size: 1.7em;
    max-width: 450px;
    margin: 1em auto;
  }
}

.download {
  text-align: center;
  /*padding: 3em 0;*/
  padding-top: 180px;
}

.download .u-wrapper>.u-p {
  margin-bottom: 3em;
  max-width: 500px;
  margin: auto;
}

.download-grid {
  margin-top: 3em;
  display: grid;
  grid-row-gap: 2em;
  margin: 0 1em;
}

.download-item {
  box-shadow: 0 15px 16px -5px rgba(83, 104, 223, 0.3);
  border-radius: 1em;
  padding: 1.5em;
  padding-top: 2.5em;
  text-align: center;
  /*background: url("../images/bg-dots.svg") repeat-x center bottom 100px;*/
}

.download-item .u-p {
  margin-bottom: 0em;
  margin-top: 0.5rem;
}

.download-item .u-h3 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .download-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 7em;
  }

  .download-item:nth-of-type(2) {
    top: 0em;
    /*position: relative;*/
  }

  .download-item:nth-of-type(3) {
    top: 0em;
    /*position: relative;*/
  }
}

.u-h1,
.u-h2,
.u-h4 {
  font-size: 2em;
  font-weight: 500;
}

.u-h2 {
  font-size: 1.5em;
}

.u-h4 {
  font-size: 1.3em;
  margin-top: 0.5em;
}

.u-p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}

:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
  --lightGRay: #e5e5e5;
}

}

@media screen and (min-width: 1024px) {
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
}

.footer ul li a:hover {
  background-color: #252b46;
}

.footer {
  background: #7e3d6d;
  text-align: center;
  padding: 3em 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer-menu {
  margin-top: 2em;
  list-style: none;
}

.footer-menu a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em;
  color: var(--lightGRay);
  border-radius:5px;
}

.footer-social {
  margin-top: 2em;
}

.footer-social a {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.footer-social .twitter {
  background: url("../images/icon-twitter.svg") no-repeat center;
}

.footer-social .facebook {
  background: url("../images/facebook.svg") no-repeat center;
}

.footer-social .instagram {
  background: url("../images/instagram.svg") no-repeat center;
}

.footer-social .whatsapp {
  background: url("../images/whatsapp.svg") no-repeat center;
}

@media screen and (min-width: 1024px) {
  .footer img {
    margin-right: 1em;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .footer-menu {
    display: flex;
    margin: 0;
  }

  .footer-primary {
    display: flex;
    align-items: center;
  }
}

/* Ir Arriba button css */
#scroll {
    position:fixed;
    right:40px;
    bottom:10px;
    cursor:pointer;
    width:30px;
    height:30px;
    background-color:#b5bce2;;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll:hover {
    background-color:#252b46;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
